body {
    background-color: #3687BD	;

}



.calculadora{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    height: 100px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; /*
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-decoration: none;
    color: blue;
}    

.vicenzo{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    height: 100px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
   display: flex;
    justify-content: center;
    align-items: center; /* 
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); */
    text-decoration: none;
    color: blue;
} 

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bruno{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    height: 100px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;    
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */ 
    text-decoration: none;
    margin: 10px;
    color: blue;
}  

.calculadora:hover {
    background-color: #436379;
    color: aliceblue;
    transition: background-color 0.25s;
    width: 180px;
    height: 90px;
}
.bruno:hover {
    background-color: #436379;
    color: aliceblue;
    transition: background-color 0.25s;
    width: 180px;
    height: 90px;
}
.vicenzo:hover {
    background-color: #436379;
    color: aliceblue;
    transition: background-color 0.25s;
    width: 180px;
    height: 90px;
}
