/* body{
    background-color: #3687BD;
}

.input{
    height: 45px;
    width: 10%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 45px;
    background-color: #415C6E;
    margin-bottom: 10px;

}

.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    outline: none;
    height: 45px;
    width: 10%; 
    
} */




*{
    font-family: 'poppins',sans-serif;
  }
  body{
    background-color: #415C6E;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  
  }
  
  @media (max-width: 414px) {
    /* Estilos aplicados quando a largura da tela é igual ou inferior a 768px */
    .form {
    width: 60%;
    font-size: 16px;
    background-color: #171717;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em
  
  }
  }
  
  @media(min-width: 768px){
    .form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
    height: 510px;
    width: 100%;
    font-size: 18px; 
    margin: auto auto;
    }
  }
  
  /* .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
    height: 100%;
    width: 20%;
    font-size: 18px; 
    margin: auto auto;
  }
   */
  .form:hover {
    transform: scale(1.05);
  }
  
  #heading {
    text-align: center;
    margin: 4em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
  }
  
  .field {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.8em;
    border: none;
    outline: none;
    color: white;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  

  .pass{
    display: flex;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.8em;
    border: none;
    outline: none;
    color: white;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);  
  }

   #senha1, #senha2 {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.em;
    border: none;
    outline: none;
    height: 50px;
    width: 60px;
    color: rgb(0, 0, 0);
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  } 
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  
  /* .button1 {
    padding: 0.5em;
    padding-left: 0.9em;
    padding-right: 1.1em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  .button1:hover {
    background-color: green;
    color: white;
  }*/
  
  .button2 {
    padding: 0.5em;
    padding-left: 0.9em;   
    padding-right: 1.1em;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100px;
    height: 100p;
    transition: .4s ease-in-out;
    background-color: green;
    color: white;
  } 
  
  .button2:hover {
    background-color: black;
    color: white;
  }
  
  /* .button3 {
    padding: 0.5em;
    padding-left: 0.9em;
    padding-right: 1.1em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
    
  }
  
  .button3:hover {
    background-color: red;
    color: white;
  }
   */
  .button4{
    padding: 0.5em;
   padding-left: 0.9em;
    padding-right: 1.1em;
    border-radius: 5px;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;

  }
  
  .button4:hover{
    background-color: green;
    color: white;
  }


#btn_pass{
    padding: 0.5em;
    padding-left: 0.9em;
     padding-right: 1.1em;
     border-radius: 5px;
     outline: none;
     transition: .4s ease-in-out;
     background-color: #252525;
     color: white;
  }

#btn_pass:hover{
    background-color: green;
    color: white;
  }


 
#icon {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  /* background: url('../imagens/view.png'); */
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-size: cover;
}

/* 
#icon.hide{
  background: url('../imagens/hide.png');
  background-size: cover;
} */