* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    /* esse atributo simplesmente é sensacional,
    ele faz a rolagem de ancoragem do site ficar suave */
}

.flex {
    display: flex;
}

#body {
    display: none;
}

body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:
        #233036;
    height: 100vh;
}

.titulo {
    background-color: #6F98AB;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 38px;
    text-align: center;
}

.titulo span {
    color: #50B5E3;
}

.interface {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    padding: 25px;
    background-color: #214B5E;
    box-shadow: 0 0 15px 10px #515b64;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #6F98AB;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #90C5DE;
    transform: scale(1.05);
    transition: .2s;
}


header nav.menu-desktop ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #50B5E3;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #6d6767;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: #50B5E3;
}


a:hover,
form .btn-enviar input:hover {
    transform: scale(1.05);
    transition: .3s;
}

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
    margin-top: 100px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 38px;
    line-height: 40px;
}

.topo-do-site .txt_topo_site h1 span {
    color: #90C5DE;
}

.topo-do-site .txt_topo_site p,
.txt-sobre p {
    background-color: #3685BA;
    padding: 25px 4%;
    border-radius: 15px;
    margin: 30px 0;
}

.topo-do-site .img_topo_site img {
    position: relative;
    animation: Flutuar 2s ease-in-out infinite alternate;
}

@keyframes Flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 20px;
    }
}


section .especialidades {
    padding: 40px 4%;
}

section.especialidades .flex {
    margin-top: 60px;
    margin-bottom: 150px;
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    margin: 5px;
    padding: 45px;
    border: 2px solid #0d160d;
    margin-top: 20px;
    border-radius: 20px;
    transition: .3s;

}

.especialidades .especialidades-box i {
    font-size: 30px;
    color: #50B5E3;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px #6F98AB;
    background-color: #415C6E;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

section .sobre {
    padding: 90px 4%;
}

section.sobre .flex {
    margin-top: 100px;
    align-items: center;
    gap: 60px;
    margin-bottom: 150px;
}

section.sobre .img-sobre img {
    border-radius: 50px;
}


.sobre .txt-sobre {
    color: #fff;

}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #214B5E;
    display: block;

}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #50B5E3;
    font-size: 15px;
    cursor: pointer;
    margin: 0 10px;
    transition: .2s;
}


section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #415C6E;
}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    /* alinha o tamanho da imagem */
    background-position: 100% 0%;
    /* ele define de onde começa no caso seria 0%*/
    transition: .7s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    /* algumas animações
 para funcionar precisam desse código */
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3685BA;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .4s;

}

.overlay:hover {
    opacity: 1;
}

section.portifolio .flex {
    justify-content: space-around;
    margin-top: 60px;
}

section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
textarea {
    width: 100%;
    background-color: #1f1c1c;
    border: none;
    padding: 20px 15px;
    outline: none;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;

}

form textarea {
    resize: none;
    max-height: 200px;
}

form input::placeholder {
    color: #415C6E;
}

form .btn-enviar {
    margin-top: 25px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: ##50B5E3;
    color: #000000;
    cursor: pointer;
    transition: .3s;
}

footer {
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #415C6E;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;

}

.borda {
    border-top: 2px solid #50B5E3;
}


footer .line-footer p i {
    color: #50B5E3;
    font-size: 30px;
}

footer .line-footer p a {
    color: #0d160d;
}

/* como deixar responsivo */

@media screen and (min-width: 1021px) and (max-width:1980px) {


    #menu-mobile,
    .btn-abrir-menu {
        display: none;
    }

}

@media screen and (max-width: 1020px) {

    /* isso é uma mudança dentro do displey flex, fazendo mudança na forma como se mostra */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
    }

    /* cabeçalho */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* topo do site */
    .topo-do-site h1 {
        font-size: 25px;

    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site .img_topo_site img {
        width: 100%;
    }

    section.topo-do-site .flex {
        gap: 40px;
    }

    section .especialidades {
        padding: 40px 8%;
    }

    .especialidades .especialidades-box {
        padding: 40px 10%;
    }

    .titulo {
        background-color: #3685BA;

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 32px;
        line-height: 34px;
    }

    section .sobre {
        padding: 90px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 35px;
        line-height: 35px;
        text-align: center;
    }

    .sobre .txt-sobre p {
        padding: 10px 7%;
    }

    .btn-social {
        text-align: center;
    }

    .img-sobre img {
        width: 100%;
    }


    section.portifolio {
        padding: 80px 8%;

    }

    .img-port {
        width: 100%;
        margin: 0 auto;
    }

    section.portifolio .flex {
        gap: 60px;
    }

    footer .flex {
        flex-direction: column;
    }

    footer .line-footer {
        text-align: center;
        padding: 5px 7%;
    }

    footer .line-footer p a {
        font-size: 20px;
    }
}

/* estilo do menu mobile */

.menu-mobile {
    background-color: #000000;
    height: 100vh;
    /* usando o heigth com 100vh ele toma toda a proporção da tela */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    /* z-index faz com que o elemento fica por cima de todos os outros elementos que são menores que o valor */
    width: 0%;
    overflow: hidden;
    transition: .3s;
}

.btn-abrir-menu i {
    color: #50B5E3;
    font-size: 40px;

}

.menu-mobile nav ul {
    text-align: right;
}

.menu-mobile nav ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 20px 7%;
    transition: .3s;
    display: block;
    /* usando o display block ele faz que não só a div seja afetada, mas todo o espaço a ser preenchido */
}

.menu-mobile nav ul li a:hover {
    background-color: #90C5DE;
    color: #000000;
}

.menu-mobile .btn-fechar i {
    color: #50B5E3;
    font-size: 30px;

}

.menu-mobile .btn-fechar {
    padding: 20px 4%;
}

.overlay-menu {
    background-color: #00000041;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;

}

.menu-mobile.abrir-menu {
    width: 70%;

}

/* sempre que que o abrir menu existir  ele chama a classe ovelay*/
/* usando ~ */
.menu-mobile.abrir-menu~.overlay-menu {
    display: block;
}

/* Efeito de digitar */
.txt-animado {
    font-size: 45px;
    font-weight: 300;
}

.txt-animado span {
    position: relative;

}

.txt-animado span::before {
    content: "";
    color: #50B5E3;
    animation: palavras 20s;
    animation-iteration-count: infinite;
}

.txt-animado span::after {
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #50B5E3;
    right: -9px;
    animation: cursor .5s, digitar 20s steps(15);
    animation-iteration-count: infinite;
    width: calc(100% + 13px);
    background-color: #233036;
}


@keyframes digitar {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 13px);
    }
}


@keyframes cursor {
    0% {
        border-left: 2px solid #233036;
    }
}

@keyframes palavras {

    0%,
    20% {
        content: "mudar o roteiro.";
    }

    21%,
    40% {
        content: "ser uma pessoa melhor.";
    }

    41%,
    60% {
        content: "conseguir um emprego😂";
    }

    61%,
    80% {
        content: "transformar minha vida";
    }

    81%,
    100% {
        content: "aprender sempre mais!";
    }
}

/* DESENVOLVIMENTO DO PRELOAD */
.bloco {
    top: 50%;
    right: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring {
    width: 200px;
    height: 200px;
    border: #ffffff 0px solid;
    border-radius: 50%;
    position: absolute;
}

.ring:nth-child(1) {
    border-bottom-width: 8px;
    border-color: #50B5E3;
    animation: rotate 2s linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

.ring:nth-child(2) {
    border-right-width: 8px;
    border-color: #6F98AB;
    animation: rotate2 2s ease-in-out;
    animation-iteration-count: infinite;

}

.ring:nth-child(3) {
    border-top-width: 8px;
    border-color: #415C6E;
    animation: rotate3 2s linear;
    animation-iteration-count: infinite;

}

.loading {
    color: #fff;
}

@keyframes rotate {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);

    }
}