*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: 
    #415C6E;
    height: 100vh;
}
.titulo{
    background-color: #3685BA ;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 38px;
    text-align: center;
}
.titulo span{ 
    color: #00ff08;
}
hr{
    background-color:  #3685BA;
    padding: 5px;
    size: 4px;
    border: none;
}
li{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    text-align: center;
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
p{
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.interface{
    max-width:1280px ;
    margin: 0 auto;
}
header{
    padding: 40px;
}
header>.interface{
    display: flex;
    align-items:center ;
    justify-content: space-between;
}
header a{
    color:#6d6767;
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: #a81e1e;
    transform: scale(1.05);
    transition: .2s;
}


header nav ul{
    list-style-type: none;

}
header nav ul{
 display: inline-block;
 padding: 0 40px;
}
.btn-contato button{
padding: 10px 40px;
font-size: 18px;
font-weight: 600;
background-color: #00ff08;
border: none;
border-radius: 30px;
cursor: pointer;
transition: .2s;
}
button:hover{
    box-shadow: 0px 0px 8px #6d6767;
}
a{
    text-decoration: none;
    font-size: 40px;
    color: #00ff08;
    

}
a :hover{
    transform: scale(1.05);
    transition: .3s;
}
section.topo-do-site{
   padding: 40px 4px; 
}
section.topo-do-site .flex{
align-items: center;
justify-content: center;
gap: 90px;

}
.topo-do-site h1{
     color: #fff;
     font-size: 38px;
     line-height: 40px;
}
.topo-do-site .txt_topo_site h1 span{
color: #00ff08;
}

.topo-do-site .txt_topo_site p{
 
    margin:40px 0 ;
}

.topo-do-site .img_topo_site img{
    position: relative;
    animation: Flutuar 2s ease-in-out infinite alternate;
}

@keyframes Flutuar{
    0%{
        top: 0;

    }
    100%{
        top: 30px;
    }
}


section .especialidades{
padding: 40px 4%;
}
section .especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: #fff;
    margin: 5px;
    padding: 45px;
    border: 2px solid #8d3434;
margin-top: 20px;
border-radius: 20px;
transition: .3s;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.02);
    box-shadow: 0 0 8px #5f4e4e;
    
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

section .sobre{
    padding: 90px 4%;
}

section .sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;

}

.sobre .txt-sobre h2{
font-size: 40px;
line-height: 40px;
margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
color: #00ff08;
display: block;

}
.sobre .txt-sobre p{
margin: 20px 0 ;
text-align:justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00ff08;
    font-size: 15px;
    cursor: pointer;
    margin: 0 10px;
    transition: .2s;
}

.sobre .txt-sobre .btn-social button:hover{

}