*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Highpro', sans-serif;
}
body{
    background: #081b29;
    
    margin: 0;
    padding: 0;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:  yellowgreen;
    display: flex;
    justify-content: space-between;     
    align-items: center;
    z-index: 100;
  }

  .logo{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
  
  .navbar a{
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}


.navbar a:hover{
    color: black;    
}


/* Reset default margin and padding for the body */

  /* Center the container div both horizontally and vertically */
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will make the container fill the entire viewport vertically */
  }
  
  /* Add some styles to the button container (optional) */
  .button {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Add some styles to the button (optional) */
  .button button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    color: black;
    cursor: pointer;
  }
  
