body{
    background-color:   #3687BD;
}

div.quadrado{ 
    width: 210mm;
    height: 243mm;
    background: #fafafa;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
  

img{
    width: 30%;
    height: 30%;
    border-radius: 5%;   
    float: left; 
    margin: 1.5rem;
    overflow: hidden;

}


div.text{
    font-family: 'Playfair Display', serif;   
     color: #000000;
    margin: 1.5rem;
}

h1{
    font-family: 'Indonesia', sans-serif;
    text-align: center;
    justify-content: center;
    margin: 10px;
}


.icon{
    height: 23%;
    width: 20%;
    float: left;
    margin: 1.5rem;

}
/* .vicenzo{
    padding: 17px;
}
.telefone{
    height: 3%;
    width: 3%;
    float: right;
}

.instagram{
    height: 3%;
    width: 3%;
    float: right;
}

.github{
    height: 3%;
    width: 3%;
    float: right;
}

.email{
    height: 3%;
    width: 3%;
    float: right;
}

.icon{
    height: 15%;
    width: 15%;
    float: right; 
 margin: 1.5rem; 
}*/


