  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Highpro', sans-serif;
}

  body {
    background: #081b29;
    padding-top: 80px; /* Adjust the value as needed to prevent content overlap */
}


  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:  yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
.logo{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}


.home{
    display: flex;
    height: 90vh;
    padding: 0 10%;
    align-items: center;
    color: white;
}

.home-content{
    max-width: 600px;
}

.navbar a:hover{
    color: black;
}

.home-content h2{
    font-size: 30px;
    color: #00abf0;
    margin: 4px 0;
}

.home-content h1{
    font-size: 40px;
    margin: 9px 0 ;
}

.home-content p{
    font-size: 20px;
}

.home-sci{
    position: absolute;
    bottom: 280px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size:  25px;
    color: #00abf0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}


.home-sci a:hover{
    color: #081b29;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transform: .5s;
}

.home-sci a:hover::before{
    width: 100%;

}


.home-content h1 span::after{
    animation: typing;
}

  h2 {
    animation: fadeInOut 5s;
  }

@keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }     

.home-perfil{
    position: absolute;
    top: 100px;
    right: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* This will make the container fill the entire viewport vertically */
} 

.botao{
  font-size: 20px;
  border: 2px solid #00abf0;
  background-color: transparent;
  height: 315px;
  width: 210px;
  color: white;
  cursor: pointer;
  transition: all .45s ease;
 
 }

.botao:hover{
  transform: translateY(-8px);
  width: 218px;
  height: 320px ;
}


.botao p {
  font-size: 17px;
  margin: 10px; /* Add margin to the <p> element */
}

.botao h2 {
  margin: 10px; /* Add margin to the <h2> element */
}

.botao i {
  font-size: 32px; /* Increase the icon size */
  margin: 10px; /* Add spacing around the icons */
}

#java{
  color: yellow ;
}

#css{
  color: #264de4;
}

#html {
 color:  #e34c26;
}


.click{
  font-size: 10px;
}



.linha{
  height: 3px;
  background:  yellowgreen;
  width: 100%;
}

.contato{
  height: 800px;
  width: 800px;
  border: 2px solid #00abf0;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 1em;

}

.email-input{
  height: 30px;
  width: 200px;
  border-radius: 5px;
  /* justify-content: center;
  display: flex;
  align-items: center; */
}


.number-input{
  height: 30px;
  width: 200px;
  border-radius: 5px;
  /* justify-content: center;
  display: flex;
  align-items: center; */
}

.comentarios{
  height: 400px;
  width: 90%;
  text-align: center ;
  /* justify-content: center;
  display: flex;
  align-items: center; */
}

.enviar{
  height: 30px;
  width: 200px;
  border-radius: 5px;
  border: 2px solid #00abf0;
  background-color: transparent;
  color: white;
  cursor: pointer;
  /* justify-content: center;
  display: flex;
  align-items: center; */
}

.enviar:hover{
 background-color: green;   /* mudar a cor */
 width: 210px;
 height: 34px;
}


#works{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 30px;
  color: white;
}


#contatos{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 30px;
  color: white; 
}

