 /*body {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;
    background-color:   #3687BD;

  }*/
    /* @import url('https://fonts.cdnfonts.com/css/new-style'); */

  

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Highpro', sans-serif;
}

  body {
    background: #081b29;
    padding-top: 80px; /* Adjust the value as needed to prevent content overlap */
}


  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:  yellowgreen;
    display: flex;
    justify-content: space-between;     
    align-items: center;
    z-index: 100;
  }
.logo{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.home{
    display: flex;
    height: 100vh;
    padding: 0 10%;
    align-items: center;
    color: white;
}

.home-content{
    max-width: 600px;
}   

.navbar a:hover{
    color: black;    
}

.home-content h2{
    font-size: 30px;
    color: #00abf0;
    margin: 4px 0;
}

.home-content h1{
    font-size: 40px;
    margin: 9px 0 ;
}

.home-content p{
    font-size: 20px;
}

.home-icon{
    margin: 30px 0 ;
}
.github{
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-right: 10px;
}

.zap{
    width: 48px;
    height: 48px;
    cursor: pointer;
}


  